n8n_articles_workflow.json
{
  "name": "SSR News – Article Collector → Sheet → Webhook",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "hours", "triggerAtHour": 6 }] } },
      "id": "trigger", "name": "🕕 כל יום 6:00", "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1, "position": [180, 300]
    },
    {
      "parameters": { "url": "https://www.psypost.org/feed", "options": {} },
      "id": "rss1", "name": "RSS – PsyPost", "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1, "position": [400, 160]
    },
    {
      "parameters": { "url": "https://www.technologyreview.com/feed/", "options": {} },
      "id": "rss2", "name": "RSS – MIT Tech Review", "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1, "position": [400, 260]
    },
    {
      "parameters": { "url": "https://www.marktechpost.com/feed/", "options": {} },
      "id": "rss3", "name": "RSS – MarkTechPost", "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1, "position": [400, 360]
    },
    {
      "parameters": { "url": "https://www.edutopia.org/feeds/posts", "options": {} },
      "id": "rss4", "name": "RSS – Edutopia", "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1, "position": [400, 460]
    },
    {
      "parameters": { "url": "https://www.livescience.com/feeds/all", "options": {} },
      "id": "rss5", "name": "RSS – Live Science", "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1, "position": [400, 560]
    },
    {
      "parameters": { "url": "https://neurosciencenews.com/feed/", "options": {} },
      "id": "rss6", "name": "RSS – Neuroscience News", "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1, "position": [400, 660]
    },
    {
      "parameters": { "url": "https://www.health.harvard.edu/blog/feed", "options": {} },
      "id": "rss7", "name": "RSS – Harvard Health", "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1, "position": [400, 760]
    },
    {
      "parameters": { "mode": "mergeByPosition", "inputs": 7, "options": {} },
      "id": "merge", "name": "איחוד כל המאמרים", "type": "n8n-nodes-base.merge",
      "typeVersion": 2, "position": [640, 460]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "title", "value": "={{ $json.title }}" },
            { "name": "description", "value": "={{ ($json.contentSnippet || $json.summary || $json.description || '').slice(0, 600) }}" },
            { "name": "link", "value": "={{ $json.link }}" },
            { "name": "sourceName", "value": "={{ $node.name.replace('RSS – ','') }}" }
          ]
        }
      },
      "id": "clean", "name": "ניקוי שדות", "type": "n8n-nodes-base.set",
      "typeVersion": 1, "position": [840, 460]
    },
    {
      "parameters": {
        "operation": "message",
        "modelId": { "__rl": true, "value": "models/gemini-1.5-flash", "mode": "list" },
        "prompt": {
          "messages": {
            "messageValues": [{
              "message": "אתה עוזר שמסכם מאמרים בעברית בפורמט קבוע.\n\nקרא את המאמר וכתוב ONLY בפורמט הזה (שמור על שמות השדות המדויקים):\n\nנושא: [אחד בלבד מ: ai / psychology / neuroscience / education / health / science / physics / astronomy / tutorials]\nתת-נושא: [תת-נושא מדויק באנגלית או עברית]\nכותרת: [כותרת קצרה בעברית, עד 10 מילים]\nשורה 1: [משפט ראשון של הסיכום בעברית]\nשורה 2: [משפט שני]\nשורה 3: [משפט שלישי]\nלחיים: [משפט אחד – מה זה אומר לגבי החיים שלך]\nשאלה: [שאלה קצרה מעוררת מחשבה]\n\nמאמר:\nכותרת: {{ $json.title }}\nתוכן: {{ $json.description }}\nמקור: {{ $json.sourceName }}"
            }]
          }
        }
      },
      "id": "gemini", "name": "🤖 Gemini – סיכום בעברית", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1, "position": [1040, 460]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "topic",    "value": "={{ $json.text.match(/נושא: (\\S+)/)?.[1] || 'science' }}" },
            { "name": "sub",      "value": "={{ $json.text.match(/תת-נושא: (.+)/)?.[1]?.trim() || '' }}" },
            { "name": "title",    "value": "={{ $json.text.match(/כותרת: (.+)/)?.[1]?.trim() || '' }}" },
            { "name": "line1",    "value": "={{ $json.text.match(/שורה 1: (.+)/)?.[1]?.trim() || '' }}" },
            { "name": "line2",    "value": "={{ $json.text.match(/שורה 2: (.+)/)?.[1]?.trim() || '' }}" },
            { "name": "line3",    "value": "={{ $json.text.match(/שורה 3: (.+)/)?.[1]?.trim() || '' }}" },
            { "name": "life",     "value": "={{ $json.text.match(/לחיים: (.+)/)?.[1]?.trim() || '' }}" },
            { "name": "question", "value": "={{ $json.text.match(/שאלה: (.+)/)?.[1]?.trim() || '' }}" },
            { "name": "link",     "value": "={{ $('ניקוי שדות').item.json.link }}" },
            { "name": "src",      "value": "={{ $('ניקוי שדות').item.json.sourceName }}" },
            { "name": "date",     "value": "={{ new Date().toLocaleDateString('he-IL').replace(/\\./g,'/') }}" }
          ]
        }
      },
      "id": "parse", "name": "עיבוד תשובת Gemini", "type": "n8n-nodes-base.set",
      "typeVersion": 1, "position": [1240, 460]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "PASTE_YOUR_GOOGLE_SHEET_ID_HERE", "mode": "id" },
        "sheetName":  { "__rl": true, "value": "מאמרים", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "תאריך": "={{ $json.date }}",
            "כותרת": "={{ $json.title }}",
            "נושא": "={{ $json.topic }}",
            "תת-נושא": "={{ $json.sub }}",
            "מקור": "={{ $json.src }}",
            "שורה 1": "={{ $json.line1 }}",
            "שורה 2": "={{ $json.line2 }}",
            "שורה 3": "={{ $json.line3 }}",
            "משפט לחיים": "={{ $json.life }}",
            "שאלה": "={{ $json.question }}",
            "קישור": "={{ $json.link }}",
            "צפיות": 0,
            "שמירות": 0
          }
        }
      },
      "id": "sheet", "name": "📊 שמירה ב-Google Sheet", "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4, "position": [1440, 340]
    }
  ],
  "connections": {
    "🕕 כל יום 6:00": { "main": [[
      {"node":"RSS – PsyPost","type":"main","index":0},
      {"node":"RSS – MIT Tech Review","type":"main","index":0},
      {"node":"RSS – MarkTechPost","type":"main","index":0},
      {"node":"RSS – Edutopia","type":"main","index":0},
      {"node":"RSS – Live Science","type":"main","index":0},
      {"node":"RSS – Neuroscience News","type":"main","index":0},
      {"node":"RSS – Harvard Health","type":"main","index":0}
    ]]},
    "RSS – PsyPost":          {"main":[[{"node":"איחוד כל המאמרים","type":"main","index":0}]]},
    "RSS – MIT Tech Review":  {"main":[[{"node":"איחוד כל המאמרים","type":"main","index":1}]]},
    "RSS – MarkTechPost":     {"main":[[{"node":"איחוד כל המאמרים","type":"main","index":2}]]},
    "RSS – Edutopia":         {"main":[[{"node":"איחוד כל המאמרים","type":"main","index":3}]]},
    "RSS – Live Science":     {"main":[[{"node":"איחוד כל המאמרים","type":"main","index":4}]]},
    "RSS – Neuroscience News":{"main":[[{"node":"איחוד כל המאמרים","type":"main","index":5}]]},
    "RSS – Harvard Health":   {"main":[[{"node":"איחוד כל המאמרים","type":"main","index":6}]]},
    "איחוד כל המאמרים":       {"main":[[{"node":"ניקוי שדות","type":"main","index":0}]]},
    "ניקוי שדות":              {"main":[[{"node":"🤖 Gemini – סיכום בעברית","type":"main","index":0}]]},
    "🤖 Gemini – סיכום בעברית":{"main":[[{"node":"עיבוד תשובת Gemini","type":"main","index":0}]]},
    "עיבוד תשובת Gemini":     {"main":[[{"node":"📊 שמירה ב-Google Sheet","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1"}
}
