n8n_api_stats_workflow.json
{
  "name": "SSR API — GET Stats",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "ssr-stats",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "GET /ssr-stats",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": {
          "__rl": true,
          "value": "1ypSdymFV-oufB1YEKzNii9uvm05FwdmzN8K0fBkZxKI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "מאמרים",
          "mode": "name"
        },
        "options": {}
      },
      "id": "art_sheet",
      "name": "📊 מאמרים",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": {
          "__rl": true,
          "value": "1ypSdymFV-oufB1YEKzNii9uvm05FwdmzN8K0fBkZxKI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "מנויים",
          "mode": "name"
        },
        "options": {}
      },
      "id": "sub_sheet",
      "name": "👥 מנויים",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, totalArticles: $('📊 מאמרים').all().length, totalSubscribers: $('👥 מנויים').all().length, activeSubscribers: $('👥 מנויים').all().filter(i => i.json['סטטוס'] === 'active' || !i.json['סטטוס']).length, todayArticles: 0 } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        620,
        300
      ]
    }
  ],
  "connections": {
    "GET /ssr-stats": {
      "main": [
        [
          {
            "node": "📊 מאמרים",
            "type": "main",
            "index": 0
          },
          {
            "node": "👥 מנויים",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 מאמרים": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👥 מנויים": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}