n8n_api_articles_workflow.json
{
  "name": "SSR API — GET Articles",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "ssr-articles",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "GET /ssr-articles",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": {
          "__rl": true,
          "value": "1ypSdymFV-oufB1YEKzNii9uvm05FwdmzN8K0fBkZxKI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "מאמרים",
          "mode": "name"
        },
        "options": {}
      },
      "id": "sheets",
      "name": "📊 קרא מאמרים",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "articles",
              "value": "={{ $items().map(item => ({ id: item.json.rowNumber, topic: item.json['נושא'] || '', sub: item.json['תת-נושא'] || '', src: item.json['מקור'] || '', date: item.json['תאריך'] || '', title: item.json['כותרת'] || '', lines: [item.json['שורה 1'], item.json['שורה 2'], item.json['שורה 3']].filter(Boolean), life: item.json['משפט לחיים'] || '', question: item.json['שאלה'] || '', link: item.json['קישור'] || '', r: { v: parseInt(item.json['צפיות'] || 0), s: parseInt(item.json['שמירות'] || 0) } })) }}"
            }
          ]
        }
      },
      "id": "set",
      "name": "עיצוב תגובה",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { articles: $json.articles, total: $json.articles.length, updated: new Date().toISOString() } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    }
  ],
  "connections": {
    "GET /ssr-articles": {
      "main": [
        [
          {
            "node": "📊 קרא מאמרים",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 קרא מאמרים": {
      "main": [
        [
          {
            "node": "עיצוב תגובה",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "עיצוב תגובה": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}